---
import {useSanityClient, groq} from 'astro-sanity';
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";

async function getAllBlogPosts() {
    const query = groq`*[_type == "post"] | order(_createdAt desc)`;
    return await useSanityClient().fetch(query);
}

const posts = await getAllBlogPosts();
---

<Layout>
    <h1 class="uppercase w-full text-4xl text-center my-8">Projekt CZAPOBA</h1>
    <div class="grid gap-8">
        {posts.map((post) => (
                <Post post={post}/>
        ))}
    </div>
</Layout>
