---
import logo from '../assets/logo.png';
---

<header class="bg-gray-900 w-full">
    <div class="flex flex-row items-center p-3 justify-between">
        <img src={logo} alt="Kode4mi" style="max-width: 120px;" class="rounded-full cursor-pointer"/>
        <h1 class="text-4xl text-center h-full uppercase mr-16">Kode4mi blog/news</h1>
    </div>
    <hr class="border-gray-400"/>
</header>